.container {
  padding: 5%;
}

.charts {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.dendogram {
  overflow: scroll;
  height: 700px;
}

.dendoGroup {
  margin: 20px;
}

.bubbleGroup {
  margin: 20px;
}

.parallel {
  overflow: scroll;
  height: 900px;
}
